{% extends "base.html" %}
{% block content %}

<table width="100%" cellspacing="0" cellpadding="0" height="50" style="font-size:26px;">
  <tr>
    <th width="50%" bgcolor="#F78181"><a href="/gallery/photos">Photos</a></th>
    <th bgcolor="#F5DA81"><a href="/gallery/video">Video</a></th>
  </tr>
</table>


{% for msg in message %}
<p><font size="4" color="red">{{msg}}</font></p>
{% endfor %}

{% for mdf in medfiles %}
<p style="margin: 15px;">

{% if title == "Photo Gallery" %}
<h2><a href="/static/photos/{{mdf}}">/static/photos/{{mdf}}</a></h2>
<a href="/static/photos/{{mdf}}">
<img border="1" src="/static/photos/{{mdf}}" alt="Not found" style="max-height:auto; max-width:60%;">
</a>
{% else %}
<h2><a href="/static/video/{{mdf}}">/static/video/{{mdf}}</a></h2>
</a>
{% endif %}
</p>


{% endfor %}
{% endblock %}
