{% extends "base.html" %}
{% block content %}


<table width="75%" cellspacing="0" cellpadding="0" border="0" bgcolor="#F2EFFB">
<tr><td align="center">
<div style="font-size: 24px;">

<form action="/pic/shoot" method="get">

<p style="margin: 15px;">
  <label for="pics">No of pics:</label>
  <select name="pics" id="pics" style="font-size: 28px; width:90%">
    <option value="1">1 pic</option>
    <option value="3">3 pics</option>
    <option value="6">6 pics</option>
    <option value="10">10 pics</option>
  </select>
</p>
<p style="margin: 15px;">
  <label for="delay">Delay:</label>
  <select name="delay" id="delay" style="font-size: 28px; width:90%">
    <option value="0">None</option>
    <option value="10">10 sec</option>
    <option value="30">30 sec</option>
    <option value="60">60 sec</option>
  </select>
</p>
<p style="margin: 15px;">
  <label for="exposure">Exposure:</label>
  <select name="exposure" id="exposure" style="font-size: 28px; width:90%">
    <option value="auto">Auto</option>
    <option value="night">Night</option>
    <option value="snow">Snow</option>
  </select>
</p>

<p style="margin: 15px;">
  <label for="res">Resolution:</label>
  <select name="res" id="res" style="font-size: 28px; width:90%">
    <option value="high">High</option>
    <option value="low">Low</option>
  </select>
</p>
<p align="center" style="margin: 15px;">
  <input type="submit" value="Shoot!" style="font-size: 32px; height:80px; width:160px">
</p>

</form>
</div>
</td></tr>
</table>

{% endblock %}
