{% extends "base.html" %}
{% block content %}

<table width="100%" cellspacing="0" cellpadding="0" height="50" style="font-size:26px;">
  <tr>
    <th width="50%" bgcolor="#F78181"><a href="/gallery/photos">Photos</a></th>
    <th bgcolor="#F5DA81"><a href="/gallery/video">Video</a></th>
  </tr>
</table>


{% for msg in message %}
<p><font size="4" color="red">{{msg}}</font></p>
{% endfor %}

{% for vid in videos %}
<p style="margin: 15px;">
<h2><a href="/static/video/{{vid}}">/static/video/{{vid}}</a></h2>
</p>


{% endfor %}
{% endblock %}
